.header {
	background-image: url('../images/header-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	color: $white;
	height: 600px;
	position: relative;
	text-align: center;
}

.header__wrap {
	font-family: $futura-book;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.5;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	display: flex;
	justify-content:space-around;
	align-items: center;

	@include center-block (1040px);

	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top:0;
		left:0;
		right:0;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		box-shadow: 0 -1px 35px rgba(2, 4, 5, 0.75);
		filter: blur(10px);
	}
}

.nav {
	// float: left;
	display: flex;
	justify-content:space-around;
	min-width: 600px;
}

.nav__link {
	// margin-right: 54px;
	// margin-right: 48px;
	
	&:last-child {
		margin-right: 0;
	}
}

.logo__wrap {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	padding-left: 50%;
    transform: translateY(-50%);
}

.logo {
	color: $white;
	font-family: $futura-futuris;
	font-size: 103px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: -2.8px;
	display: inline-block;
}

.logo-caption {
	color: #1cc257;
	font-size: 42px;
	font-family: $garamond;
	font-style: italic;
}