// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-facebook-name: 'icon--facebook';
$icon-facebook-x: 0px;
$icon-facebook-y: 0px;
$icon-facebook-offset-x: 0px;
$icon-facebook-offset-y: 0px;
$icon-facebook-width: 42px;
$icon-facebook-height: 42px;
$icon-facebook-total-width: 84px;
$icon-facebook-total-height: 84px;
$icon-facebook-image: '../images/sprite.png';
$icon-facebook: (0px, 0px, 0px, 0px, 42px, 42px, 84px, 84px, '../images/sprite.png', 'icon--facebook', );
$icon-instagram-name: 'icon--instagram';
$icon-instagram-x: 42px;
$icon-instagram-y: 0px;
$icon-instagram-offset-x: -42px;
$icon-instagram-offset-y: 0px;
$icon-instagram-width: 42px;
$icon-instagram-height: 42px;
$icon-instagram-total-width: 84px;
$icon-instagram-total-height: 84px;
$icon-instagram-image: '../images/sprite.png';
$icon-instagram: (42px, 0px, -42px, 0px, 42px, 42px, 84px, 84px, '../images/sprite.png', 'icon--instagram', );
$icon-login-name: 'icon--login';
$icon-login-x: 42px;
$icon-login-y: 42px;
$icon-login-offset-x: -42px;
$icon-login-offset-y: -42px;
$icon-login-width: 19px;
$icon-login-height: 21px;
$icon-login-total-width: 84px;
$icon-login-total-height: 84px;
$icon-login-image: '../images/sprite.png';
$icon-login: (42px, 42px, -42px, -42px, 19px, 21px, 84px, 84px, '../images/sprite.png', 'icon--login', );
$icon-twitter-name: 'icon--twitter';
$icon-twitter-x: 0px;
$icon-twitter-y: 42px;
$icon-twitter-offset-x: 0px;
$icon-twitter-offset-y: -42px;
$icon-twitter-width: 42px;
$icon-twitter-height: 42px;
$icon-twitter-total-width: 84px;
$icon-twitter-total-height: 84px;
$icon-twitter-image: '../images/sprite.png';
$icon-twitter: (0px, 42px, 0px, -42px, 42px, 42px, 84px, 84px, '../images/sprite.png', 'icon--twitter', );
$icon-facebook-2x-name: 'icon--facebook@2x';
$icon-facebook-2x-x: 0px;
$icon-facebook-2x-y: 0px;
$icon-facebook-2x-offset-x: 0px;
$icon-facebook-2x-offset-y: 0px;
$icon-facebook-2x-width: 84px;
$icon-facebook-2x-height: 84px;
$icon-facebook-2x-total-width: 168px;
$icon-facebook-2x-total-height: 168px;
$icon-facebook-2x-image: 'sprite@2x.png';
$icon-facebook-2x: (0px, 0px, 0px, 0px, 84px, 84px, 168px, 168px, 'sprite@2x.png', 'icon--facebook@2x', );
$icon-instagram-2x-name: 'icon--instagram@2x';
$icon-instagram-2x-x: 84px;
$icon-instagram-2x-y: 0px;
$icon-instagram-2x-offset-x: -84px;
$icon-instagram-2x-offset-y: 0px;
$icon-instagram-2x-width: 84px;
$icon-instagram-2x-height: 84px;
$icon-instagram-2x-total-width: 168px;
$icon-instagram-2x-total-height: 168px;
$icon-instagram-2x-image: 'sprite@2x.png';
$icon-instagram-2x: (84px, 0px, -84px, 0px, 84px, 84px, 168px, 168px, 'sprite@2x.png', 'icon--instagram@2x', );
$icon-login-2x-name: 'icon--login@2x';
$icon-login-2x-x: 84px;
$icon-login-2x-y: 84px;
$icon-login-2x-offset-x: -84px;
$icon-login-2x-offset-y: -84px;
$icon-login-2x-width: 38px;
$icon-login-2x-height: 42px;
$icon-login-2x-total-width: 168px;
$icon-login-2x-total-height: 168px;
$icon-login-2x-image: 'sprite@2x.png';
$icon-login-2x: (84px, 84px, -84px, -84px, 38px, 42px, 168px, 168px, 'sprite@2x.png', 'icon--login@2x', );
$icon-twitter-2x-name: 'icon--twitter@2x';
$icon-twitter-2x-x: 0px;
$icon-twitter-2x-y: 84px;
$icon-twitter-2x-offset-x: 0px;
$icon-twitter-2x-offset-y: -84px;
$icon-twitter-2x-width: 84px;
$icon-twitter-2x-height: 84px;
$icon-twitter-2x-total-width: 168px;
$icon-twitter-2x-total-height: 168px;
$icon-twitter-2x-image: 'sprite@2x.png';
$icon-twitter-2x: (0px, 84px, 0px, -84px, 84px, 84px, 168px, 168px, 'sprite@2x.png', 'icon--twitter@2x', );
$spritesheet-width: 84px;
$spritesheet-height: 84px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-facebook, $icon-instagram, $icon-login, $icon-twitter, );
$spritesheet: (84px, 84px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 168px;
$retina-spritesheet-height: 168px;
$retina-spritesheet-image: 'sprite@2x.png';
$retina-spritesheet-sprites: ($icon-facebook-2x, $icon-instagram-2x, $icon-login-2x, $icon-twitter-2x, );
$retina-spritesheet: (168px, 168px, 'sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-facebook-group-name: 'icon--facebook';
$icon-facebook-group: ('icon--facebook', $icon-facebook, $icon-facebook-2x, );
$icon-instagram-group-name: 'icon--instagram';
$icon-instagram-group: ('icon--instagram', $icon-instagram, $icon-instagram-2x, );
$icon-login-group-name: 'icon--login';
$icon-login-group: ('icon--login', $icon-login, $icon-login-2x, );
$icon-twitter-group-name: 'icon--twitter';
$icon-twitter-group: ('icon--twitter', $icon-twitter, $icon-twitter-2x, );
$retina-groups: ($icon-facebook-group, $icon-instagram-group, $icon-login-group, $icon-twitter-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
