$width: 1440px;
$light: #fff;
$dark: #000;
$gray: #131313;
$light-gray: #393939;
$yellow: #f3c50f;
$btn-color: #35cd12;




// font-family: 'EB Garamond', serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'PT Serif', serif;

// Myriad Pro
// Futura Futuris C
// Futura Futuris C bold
// Futura Medium C
// Futura Book C
// Futura Demi C
// Moloko

// AGaramond


$light: #fff;
$width: 1440px;
$yellow: #f3c50f;
$dark: #000;
$light-gray: #393939;
$gray: #131313;
$btn-color: #35cd12;