@mixin center-block ($width: 1040px) {
		max-width: $width;
		padding: 0 ($max-width - $width)/2;
}

@mixin center-y {
	display: flex;
	align-items: center;
}

// Волнистый контур для секций

@mixin wave-top ($color-wave: #000) {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		z-index: 10;
		left: 0;
		top: -10px;
		right: 0;
		background-repeat: repeat;
		height: 20px;
		background-size: 40px 20px;
		background-image: radial-gradient(circle at 11px -6px, transparent 12px, $color-wave 13px);
	}

	&::after {
		content: '';
		position: absolute;
		z-index: 10;
		background-repeat: repeat;
		height: 10px;
		background-size: 40px 10px;
		background-image: radial-gradient(circle at 25px 13px, $color-wave 12px, transparent 0px);
		right: 0;  
		left: 6px;
		top: -15px;
	}
}