// Colors

$white: #fff;
$black: #000;
$gray: #131313;
$light-gray: #393939;
$dark-gray: #252525;
$yellow: #f3c50f;
$orange: #f9b625;
$btn-color: #35cd12;


// Sizes

$max-width: 1440px;
$large-width: 1024px;
$medium-width: 768px;
// $small-width: 640px;
$small-width: 480px;
$min-width: 240px;


// Fonts

$futura-demi: 'Futura Demi C', sans-serif;

$futura-medium: 'Futura Medium C', sans-serif;
$futura-book: 'Futura Book C', sans-serif;
$futura-futuris: 'Futura Futuris C', sans-serif;

$garamond: 'EB Garamond', serif;
// $sans: 'PT Sans', sans-serif;
$serif: 'PT Serif', sans-serif;
// $myriad: 'Myriad Pro', sans-serif;
// $Moloko: 'Moloko', sans-serif;