<section class="share">
	<h2 class="title">Поділись з другом</h2>
	<div class="container">
		<p class="question">
		Бажаєш, щоб твої друзі залишалися ситими і здоровими?
		</p>
		<p class="reply">
		Ми з радістю допоможемо тобі!
		</p>
		<p class="reply-caption">
		Розмісти своє фото з нашим сандвічем на своїй сторінці у соціальній мережі і вкажи ім’я друга, якого бажаєш пригостити. Якщо твій запис збере 50 лайків, ми безкоштовно пригостимо тебе і твого друга набором з сандвічей та десертів.
		</p>
	</div>
</section>