<!DOCTYPE html>
<html lang="uk-UA">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Fred&Fresh</title>
	<meta name="description" content="Fred and Fresh - вкусная и полезная еда. Обслуживание офисов. Вендинг. Кейтеринг. Доставка еды.">
	<link rel="shortcut icon" href="favicon.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|PT+Sans:400,700|PT+Serif:700i" rel="stylesheet">
</head>
<body>