<header class="header">
	<div class="header__wrap">
		<nav class="nav">
			<a href="/" class="nav__link link">Головна</a>
			<a href="#menu" class="nav__link link">Меню</a>
			<a href="#" class="nav__link link">Пропонуємо</a>
			<a href="#" class="nav__link link">Замовити</a>
			<a href="#" class="nav__link link">Контакти</a>
		</nav>
		<a href="#" class="btn btn--mini">Замовити дегустацію</a>
		<a href="#" class="link link--login">Увійти</a>
	</div>
	<div class="logo__wrap">
		<h2 class="logo">Fred&<br>Fresh</h2>
		<p class="logo-caption">Healthy Natural Food</p>
	</div>
</header>