.clients {
	box-shadow: 0 -10px 30px rgba(194, 201, 206, 0.5), 0 0 14px rgba(194, 201, 206, 0.3);
	padding: 70px 0;

	@include wave-top ($white);
}

.clients__wrap {
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}