.menu__list {
    background-image: url('../images/menu-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: $black;
    text-align: center;
    font-weight: 400;
    padding: 4rem 0;
    display: none;

    @media all and (max-width: 480px) {
        padding: 1rem 1rem 2rem;
    }
}

.menu__item {
    max-width: 1044px-72-52;
    margin: 0 auto;
    border-radius: 15px;
    background-color: $white;
    padding: 2rem 52px 60px;

    @media all and (max-width: 1024px - 1) {
        // padding: 2rem 1rem 3rem;
        // max-width: 100%;
        // border-radius: 0;
    }
}

.menu__name {
    font-family: $futura-demi;
    font-size: 36px;
    margin: 0 1em 2rem;
    font-weight: 400;
    color: $black;
    line-height: 1.7;
    text-align: center;
    display: inline-block;

    @media all and (max-width: 420px - 1) {
        font-size: 26px;
        margin: 0 5px 2rem;
        line-height: 61px;
    }
}

.product__wrap {
    display: flex;
    justify-content: center;

    @media all and (max-width: 768px - 1) {
        flex-flow: column nowrap;
        align-items: center;
    }
}

.product__img {
    width: 50%;
    height: 430px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    @media all and (max-width: 1024px - 1) {
        margin-bottom: 12px;
    }
    @media all and (max-width: 768px - 1) {
        width: 100%;
    }

    img {
        height: 100%;
    }
}

.product__info {
    width: 460px-108px;
    padding: 0 3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: 1024px - 1) {
        // width:80%;
        // margin-bottom: 12px;
    }

    .description {
        font-family: $garamond;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.5;

        @media all and (max-width: 1024px - 1) {
            margin-bottom: 12px;
        }
    }

    .components {
        position: relative;
        color: $yellow;
        font-family: $garamond;
        font-size: 34px;
        font-weight: 700;
        line-height: 1.08;

        @media all and (max-width: 1024px - 1) {
            margin-bottom: 12px;
        }

        &::before,
        &::after {
            display: block;
            content: '';
            position: absolute;
            width: 130%;
            left: -15%;
            @extend .icon--wave;
        }

        &::before {
            top: -34px;
        }

        &::after {
            bottom: -34px;
        }
    }

    .price {
        color: #1e1e1e;
        font-family: $futura-demi;
        font-size: 52px;
        font-weight: 400;
        
        @media all and (max-width: 1024px - 1) {
            margin-bottom: 12px;
        }
    }
}